In [142]:
# data Devidation  is is used to tranform the data 
# divide data in dependent and independent datasets 
# df -->x +y
#x---> x_train , y_test
# y---> y_train , y_test

In [143]:
import pandas as pd
import numpy as np

In [144]:
df= pd.read_csv("students.csv")

In [145]:
df.sample()

,StudentID,Name,Age,Email,Department,GPA,GraduationYear
118,3669,Meghan Roy,23,ystevens@yahoo.com,Computer Science,2.48,2025

In [146]:
df.head(4)

,StudentID,Name,Age,Email,Department,GPA,GraduationYear
0,3336,David Palmer,19,sean43@hotmail.com,Mathematics,3.16,2026
1,8774,Andrew Roach,23,vbecker@harvey.com,Chemistry,3.75,2027
2,1396,Jonathan Gonzalez,22,hollydavis@gmail.com,Physics,2.95,2027
3,6716,Kenneth Morrow,24,ganderson@wheeler-atkins.info,Physics,3.55,2029

In [147]:
# made the input dependent and independth datat set
x=df.drop(columns=['GPA']) # input data 
y=df['GPA'] # make the target data

In [148]:
from sklearn.model_selection import train_test_split

In [149]:
x_train, x_test, y_train, y_test=train_test_split(x,y,test_size=0.2,random_state=42)

In [150]:
np.round(x_train.describe(),2)

       StudentID     Age  GraduationYear
count     160.00  160.00          160.00
mean     5632.75   21.49         2027.14
std      2531.25    2.30            2.04
min      1066.00   18.00         2024.00
25%      3577.00   19.00         2025.00
50%      5616.50   21.50         2027.00
75%      7949.25   23.00         2029.00
max      9985.00   25.00         2030.00

In [151]:
# now the mena and max value gap is different 

# mean= average
# Normal Distribution --- Center tendancy(mean , median --> left and right data value will be same 
# standard devidation= next value gap from centrol tendance

# To Convert Into the Normal Distribution

In [152]:
from sklearn.preprocessing import StandardScaler

In [153]:
sc=StandardScaler()

In [154]:
type(x_train)

pandas.core.frame.DataFrame

In [155]:
x_train_sc = sc.fit_transform(x_train.select_dtypes(include=[np.number])) # fit means learn the parameter and transform means apply on that data

In [156]:
type(x_train_sc)

numpy.ndarray

In [157]:
# x_train_new=pd.DataFrame(x_train_sc,columns=x_train.columns)
x_train_sc = pd.DataFrame(sc.fit_transform(x_train.select_dtypes(include=[np.number])), columns=x_train.select_dtypes(include=[np.number]).columns)

In [158]:
np.round(x_train_new.describe(),2)

            0       1       2
count  160.00  160.00  160.00
mean     0.00    0.00   -0.00
std      1.00    1.00    1.00
min     -1.81   -1.53   -1.54
25%     -0.81   -1.09   -1.05
50%     -0.01    0.00   -0.07
75%      0.92    0.66    0.92
max      1.72    1.53    1.41

# Data set --2

In [159]:
df =pd.read_csv("Students_Performance_misVal.csv")

In [160]:
df.head(3)

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93

In [161]:
df.shape

(1000, 8)

In [162]:
df.isnull().sum()

gender                          0
race/ethnicity                 11
parental level of education    21
lunch                          12
test preparation course         4
math score                      0
reading score                   0
writing score                   0
dtype: int64

In [163]:
# coming the all these missing value to fill and drop
from sklearn.impute import SimpleImputer # it is usefd for filling the missing values

In [164]:
si=SimpleImputer()

In [165]:
df['race/ethnicity']=si.fit_transform(df.select_dtypes(include=[np.number]))
df['parental level of education']=si.fit_transform(df.select_dtypes(include=[np.number]))
df['lunch']=si.fit_transform(df.select_dtypes(include=[np.number]))
df['test preparation course']=si.fit_transform(df.select_dtypes(include=[np.number]))

In [166]:
df.isnull().sum()

gender                         0
race/ethnicity                 0
parental level of education    0
lunch                          0
test preparation course        0
math score                     0
reading score                  0
writing score                  0
dtype: int64

In [167]:
df['gender'].value_counts()

gender
female    518
male      482
Name: count, dtype: int64

In [169]:
df.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,72.0,72.0,72.0,72.0,72,72,74
1,female,69.0,69.0,69.0,69.0,69,90,88
2,female,90.0,90.0,90.0,90.0,90,95,93
3,male,47.0,47.0,47.0,47.0,47,57,44
4,male,76.0,76.0,76.0,76.0,76,78,75

In [170]:
# check to the indepandent and depandent data into convert 
df['gender']=df['gender'].map({"male":0,"female":1})

In [171]:
df.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,1,72.0,72.0,72.0,72.0,72,72,74
1,1,69.0,69.0,69.0,69.0,69,90,88
2,1,90.0,90.0,90.0,90.0,90,95,93
3,0,47.0,47.0,47.0,47.0,47,57,44
4,0,76.0,76.0,76.0,76.0,76,78,75

In [173]:
x=df.drop(columns=['parental level of education']) # dependent data 
y=df['parental level of education'] # indepandent data

In [174]:
from sklearn.model_selection import train_test_split

In [175]:
x_train, x_test, y_train, y_test =train_test_split(x,y,test_size=0.2,random_state=42)

In [176]:
np.round(x_train.describe(),2)

,gender,race/ethnicity,lunch,test preparation course,math score,reading score,writing score
count,800.00,800.00,800.00,800.00,800.00,800.00,800.00
mean,0.53,66.50,66.50,66.50,66.50,69.56,68.46
std,0.50,15.02,15.02,15.02,15.02,14.46,15.09
min,0.00,8.00,8.00,8.00,8.00,24.00,15.00
25%,0.00,57.00,57.00,57.00,57.00,60.00,58.00
50%,1.00,66.00,66.00,66.00,66.00,70.00,69.00
75%,1.00,77.00,77.00,77.00,77.00,80.00,79.00
max,1.00,100.00,100.00,100.00,100.00,100.00,100.00

In [186]:
from sklearn.preprocessing import StandardScaler

In [187]:
sc=StandardScaler()

In [188]:
# input data fit_transform 
x_train_new=sc.fit_transform(x_train) # convert array to convet into the datafram

In [189]:
x_train_new=pd.DataFrame(x_train_new,columns=x_train.columns)

# This is Normal Distribution in convert

In [191]:
np.round(x_train_new.describe(),2)

,gender,race/ethnicity,lunch,test preparation course,math score,reading score,writing score
count,800.00,800.00,800.00,800.00,800.00,800.00,800.00
mean,0.00,-0.00,-0.00,-0.00,-0.00,-0.00,0.00
std,1.00,1.00,1.00,1.00,1.00,1.00,1.00
min,-1.05,-3.90,-3.90,-3.90,-3.90,-3.15,-3.55
25%,-1.05,-0.63,-0.63,-0.63,-0.63,-0.66,-0.69
50%,0.95,-0.03,-0.03,-0.03,-0.03,0.03,0.04
75%,0.95,0.70,0.70,0.70,0.70,0.72,0.70
max,0.95,2.23,2.23,2.23,2.23,2.11,2.09