In [2]:
import pandas as pd
import numpy as np

In [3]:
df=pd.read_csv("insurance.csv")

In [4]:
df.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [5]:
df.isnull().sum()

age         0
sex         0
bmi         0
children    0
smoker      0
region      0
charges     0
dtype: int64

In [6]:
from sklearn.preprocessing import LabelEncoder

In [7]:
lb=LabelEncoder()

In [8]:
df.columns

Index(['age', 'sex', 'bmi', 'children', 'smoker', 'region', 'charges'], dtype='object')

In [9]:
df['sex']=lb.fit_transform(df['sex'])
df['smoker']=lb.fit_transform(df['smoker'])
df['region']=lb.fit_transform(df['region'])

In [10]:
x=df.drop(columns=['charges'])  #input 
y=df['charges']

In [11]:
from sklearn.model_selection import train_test_split

In [12]:
x_train,x_test, y_train, y_test=train_test_split(x,y,test_size=0.2,random_state=42)

In [13]:
print("Total data shape",df.shape)
print("------------------------------------------")
print("Total input data shape:",x.shape)
print("Total input data shape:",x_train.shape)
print("Total input data shape:",x_test.shape)
print("------------------------------------------")
print("Total input data shape:",y.shape)
print("Total input data shape:",y_train.shape)
print("Total input data shape:",y_test.shape)

Total data shape (1338, 7)
------------------------------------------
Total input data shape: (1338, 6)
Total input data shape: (1070, 6)
Total input data shape: (268, 6)
------------------------------------------
Total input data shape: (1338,)
Total input data shape: (1070,)
Total input data shape: (268,)

In [14]:
np.round(x_train.describe(),2)

           age      sex      bmi  children   smoker   region
count  1070.00  1070.00  1070.00   1070.00  1070.00  1070.00
mean     39.36     0.51    30.56      1.11     0.21     1.51
std      14.07     0.50     6.04      1.22     0.40     1.12
min      18.00     0.00    15.96      0.00     0.00     0.00
25%      27.00     0.00    26.20      0.00     0.00     1.00
50%      39.50     1.00    30.21      1.00     0.00     2.00
75%      51.00     1.00    34.50      2.00     0.00     2.00
max      64.00     1.00    53.13      5.00     1.00     3.00

In [15]:
# Standardization

In [16]:
from sklearn.preprocessing import StandardScaler

In [17]:
sc=StandardScaler()

In [18]:
x_train_new=sc.fit_transform(x_train) # fit mens learn the parameter and transfomr means

In [19]:
x_train_new=pd.DataFrame(x_train_new,columns=x_train.columns)

In [20]:
np.round(x_train_new.describe(),2)

           age      sex      bmi  children   smoker   region
count  1070.00  1070.00  1070.00   1070.00  1070.00  1070.00
mean     -0.00    -0.00    -0.00     -0.00     0.00    -0.00
std       1.00     1.00     1.00      1.00     1.00     1.00
min      -1.52    -1.02    -2.42     -0.91    -0.51    -1.35
25%      -0.88    -1.02    -0.72     -0.91    -0.51    -0.46
50%       0.01     0.98    -0.06     -0.09    -0.51     0.44
75%       0.83     0.98     0.65      0.73    -0.51     0.44
max       1.75     0.98     3.74      3.20     1.97     1.34

In [21]:
df=pd.read_csv("Social_Network_Ads.csv")

In [22]:
df.sample()

      User ID  Gender  Age  EstimatedSalary  Purchased
173  15581654  Female   34            43000          0

In [23]:
df.isnull().sum()

User ID            0
Gender             0
Age                0
EstimatedSalary    0
Purchased          0
dtype: int64

In [24]:
from sklearn.preprocessing import LabelEncoder

In [25]:
lb=LabelEncoder()

In [26]:
df.columns

Index(['User ID', 'Gender', 'Age', 'EstimatedSalary', 'Purchased'], dtype='object')

In [27]:
df['Gender']=lb.fit_transform(df['Gender'])

In [28]:
df.sample()

     User ID  Gender  Age  EstimatedSalary  Purchased
83  15711218       1   35            88000          0

In [29]:
x=df.drop(columns=['Purchased'])
y=df['Purchased']

In [30]:
from sklearn.model_selection import train_test_split

In [31]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=42)

In [32]:
np.round(x_train.describe(),2)

           User ID  Gender     Age  EstimatedSalary
count       320.00   320.0  320.00           320.00
mean   15689066.37     0.5   37.87         70281.25
std       71974.25     0.5   10.21         34430.55
min    15569641.00     0.0   18.00         15000.00
25%    15622771.00     0.0   30.00         43000.00
50%    15689969.50     0.5   37.00         71000.00
75%    15747470.00     1.0   45.00         88000.00
max    15815236.00     1.0   60.00        150000.00

In [33]:
from sklearn.preprocessing import MinMaxScaler

In [34]:
mn=MinMaxScaler()

In [35]:
x_train_new=mn.fit_transform(x_train)

In [36]:
x_train_new=pd.DataFrame(x_train_new,columns=x_train.columns)

In [37]:
np.round(x_train_new.describe(),2)

       User ID  Gender     Age  EstimatedSalary
count   320.00   320.0  320.00           320.00
mean      0.49     0.5    0.47             0.41
std       0.29     0.5    0.24             0.26
min       0.00     0.0    0.00             0.00
25%       0.22     0.0    0.29             0.21
50%       0.49     0.5    0.45             0.41
75%       0.72     1.0    0.64             0.54
max       1.00     1.0    1.00             1.00

# Normalization porcess

In [38]:
df=pd.read_csv("titanic.csv")

In [39]:
df=df.drop(columns=['Name','Ticket','Cabin'])

In [40]:
df.shape

(418, 9)

In [41]:
from sklearn.impute import SimpleImputer

In [42]:
si=SimpleImputer()

In [43]:
df['Age']=si.fit_transform(df[['Age']])